/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@layer base {
    button:not(:disabled), [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@layer components {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        max-width: 100%;
        width: min(100%, 1536px);
    }
}