@if(productResource.isLoading()){
  <div class="flex flex-col items-center justify-center py-20 gap-4">
      <mat-spinner diameter="60"></mat-spinner>
      <p class="text-gray-500 animate-pulse text-lg">Fetching product details...</p>
  </div>
}@else if(productResource.error()){
  <div class="text-center py-20 bg-red-50 rounded-lg border border-red-100">
      <mat-icon class="text-6xl text-red-400 mb-4">error_outline</mat-icon>
      <h2 class="text-2xl font-bold text-red-800">Product Not Found</h2>
      <p class="text-red-600 mb-6">The item you are looking for may have been removed or moved.</p>
      <button mat-flat-button color="primary" routerLink="/shop">Return to Shop</button>
    </div>
}@else {
  @let product = productResource.value();
  <section class="py-8">
    <div class="max-w-screen-2xl px-4 mx-auto">
      <div class="grid grid-cols-2 gap-8">
        <div class="max-w-xl mx-auto">
          <img
          [src]="product?.pictureUrl"
          [alt]="product?.name"
          class="w-full h-auto object-contain"
        />
        </div>
        <div>
          <h1 class="text-2xl font-semibold text-gray-900">{{product?.name}}</h1>

          <p>You have {{quantityInCart}} {{product?.name}} in your cart</p>
          <div class="mt-4 items-center gap-4 flex">
            <p class="text-3xl font-extrabold text-gray-900">
              {{product?.price | currency}}
            </p>
          </div>

          <div class="flex gap-4 my-6">
            <button [disabled]="quantity === quantityInCart" mat-flat-button (click)="updateCart()"  class="match-input-height">
              <mat-icon>add_shopping_cart</mat-icon>
              {{getButtonText()}}
            </button>

            <mat-form-field appearance="outline" class="qty-field" subscriptSizing="dynamic">
              <mat-label>Quantity</mat-label>
              <input matInput min="0" [(ngModel)]="quantity" type="number">
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <p class="mt-6 text-green-500">
            {{product?.description}}
          </p>
        </div>
      </div>
    </div>
  </section>
}