$common-height: 54px; 

.custom-item-button {
  height: $common-height !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; /* Matches modern button styles */
  
  // Ensure icons are centered and sized correctly
  mat-icon {
    margin-right: 4px;
    &.mat-icon-no-margin {
      margin-right: 0;
    }
  }

  .product-card{
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
  }
}