<div>
  <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
  <mat-divider></mat-divider>
  <div class="flex p4">
    <div class="w-1/2">
      <h4 class="font-semibold text-xl text-primary">Brands</h4>
      @if (brands().length > 0) {
        <mat-selection-list [(ngModel)]="selectedBrands" [multiple]="true">
          @for (brand of brands(); track brand) {
            <mat-list-option [value]="brand">{{ brand }}</mat-list-option>
          }
        </mat-selection-list>
      } @else {
        <mat-spinner diameter="30"></mat-spinner>
      }
    </div>

    <div class="w-1/2">
      <h4 class="font-semibold text-xl text-primary">Types</h4>
     @if (types().length > 0) {
    <mat-selection-list [(ngModel)]="selectedTypes" [multiple]="true">
      @for (type of types(); track type) {
        <mat-list-option [value]="type">{{ type }}</mat-list-option>
      }
    </mat-selection-list>
  } @else {
    <mat-spinner diameter="30"></mat-spinner>
  }
    </div>
  </div>
  <div class="flex justify-end p-4">
    <button mat-flat-button (click)="applyFilters()">Apply Filters</button>
  </div>
</div>

